/**
 * #.# Global style
 *
 * Global style for all HTML pages
 */

 html, body {
    background-color: #22272e;
}

.elBlur {
    -webkit-filter: blur(1.5px);
    -moz-filter: blur(1.5px);
    -o-filter: blur(1.5px);
    -ms-filter: blur(1.5px);
    filter: blur(1.5px);
}

/* Navbar */
#navBarContainer {
    position: fixed;
    margin-left: -8px;
    top: 0;
    height: 45px;
    width: 100vw;
    background-color: #202020;
    z-index: 3;
}
#navBarIconContainer {
    position: absolute;
    display: inline-block;
}

#navBarIconContainer {
    display: inline-block;
    margin-left: 10px;
}

#navBarIcon {
    margin-top: 5px;
    margin-left: 5px;
    width: 35px;
    filter: brightness(0) invert(1);
}

#navBarLinksContainer {
    display: inline-block;
}

#navBarPlaylist {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

#navBarUserProfile {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

#navBarLogoutContainer {
    position: absolute;
    display: inline-block;
    margin-top: 11px;
    right: 1%;
    cursor: pointer;
}
#navBarLogout {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 2px;
    border: 1px solid gray;
    border-radius: 4px;
    color: gray;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 15px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: 0.25s;
}
#navBarLogout:hover {
    color: white;
    border-color: white;
    transition: 0.25s;
}
.navBarIconAnim {
    animation: LoadAnim 1.5s ease 0s 1 normal none;
    transition: all 0s;
}
#navBarButtonsContainer {
    position: absolute;
    display: inline-block;
    margin-top: 12px;
    margin-left: 40px;
}
#navBarButtonsContainer > div {
    display: inline-block;
    margin-left: 20px;
    color: gray;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
    cursor: pointer;
    transition: 0.25s;
}
#navBarButtonsContainer > div:hover {
    color: white;
    transition: 0.25s;
}
#settingsIcon {
    position: absolute;
    display: inline-block;
    margin-top: 1px;
    margin-left: 20px;
    filter: invert(0.5);
    width: 18px;
    cursor: pointer;
    transition: 0.25s;
}
#settingsIcon:hover {
    filter: invert(1);
    transition: 0.25s;
}

/* Onload Animation */
.fade-in {
    animation-name: FadeIn;
    animation-duration: 0.1s;
    transition-timing-function: linear;
}
@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Logo animation */
@keyframes LoadAnim {
    0.0% {}

    13.25% {
        transform: translate(0px, -10px) rotate(-10deg);
    }

    30.21% {
        transform: translate(0px, 0px);
    }

    47.7% {
        transform: translate(0px, -10px) rotate(10deg);
    }

    64.66% {
        transform: translate(0px, 0px);
    }

    81.62% {
        transform: translate(0px, -10px);
    }

    98% {
        transform: translate(0px, 0px);
    }
}


/* Scrollbar */
::-webkit-scrollbar { /* Width */
    width: 7px;
}
::-webkit-scrollbar-track { /* Track */
    background: none;
}
::-webkit-scrollbar-thumb { /* Handle */
    background: rgb(116, 116, 116); 
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
}
::-webkit-scrollbar { /* Temporary? */
    display: none;
}


/* misc */
hr.titleBreaker {
    display: absolute;
    opacity: 20%;
    color: #555;
    border: 1px solid grey;
    border-radius: 20px;
}

hr.trackBreaker {
    display: absolute;
    opacity: 10%;
    border: 1px solid rgb(122, 122, 152);
    border-radius: 20px;
}
