/**
 * #.# user.html Style
 *
 * Style for user.html, does not contain media queries
 */

#mainContainer {
    position: absolute;
    margin: auto;
    margin-top: 60px;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

#item {
    margin-top: 25px;
    margin-left: 25px;
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
    border-radius: 15px;
    height: auto;
}

#playlist {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
    border-radius: 15px;
    height: auto;
    cursor: pointer;
}

#track {
    margin-top: 10px;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: rgb(232, 232, 232);
}

#trackArtist {
    /* margin-top: 10px; */
    font-size: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: rgb(148, 148, 148);
}

#playlistContent {
    margin-left: 63px;
    width: 75%;
    text-align: left;
}

#moodBoard {
    display: block;
}
#playlists {
    display: none;
}
#user {
    display: none;
}
#settings {
    display: none;
}

#userPfp {
    margin-top: 40px;
    margin-left: 110px;
    float: left;
    width: 220px;
    border-radius: 50%;
}

#profileText {
    position: absolute;
    margin-top: 125px;
    margin-left: 360px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#userName {
    position: absolute;
    margin-top: 125px;
    margin-left: 355px;
    color: white;
    font-size: 80px;
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#userStatsContainer {
    position: absolute;
    margin-top: 225px;
    margin-left: 360px;
}

#userStatsContainer > div {
    display: inline-block;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#warningMessage {
    position: absolute;
    margin-top: 350px;
    margin-left: 110px;
    width: 65vw;
	height: 40px;
    background-color: rgba(210, 184, 58, 0.7);
    border-radius: 4px;
    border: 1px solid rgba(240, 228, 167, 0.7);
}

#warningMessageIcon {
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    width: 25px;
}

#warningMessageContent {
    float: left;
    margin-left: 10px;
    margin-top: 9px;
    color: rgb(31, 30, 32);
    font-size: 15px;
	font-weight: 400;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}